@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.nav-bar{
    /* border: 2px solid blue; */
    padding: 10px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
#nav-txt{
    display: inline;
}
.logo-img{
    width: 40px;
}
.nav-menus{
 /* border: 2px solid red; */
 padding: 10px;
 font-size: 15px;
 font-weight: 500;
}
.nav-menus a{
    text-decoration: none;
    margin-left: 20px;
}
#nav-btn{
    background-color: #E7E6E9;
    padding: 5px;
    border-radius: 4px;
    color: red;
}
/* ###################################### */
.section-left-right{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    
   
}
.section-left{
    /* border: 1px solid blueviolet; */
    margin-top: 100px;
    padding: 60px;
}
.section-left h2{
color: #0B0223;
font-family: "Work Sans";
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.section-left p{
    color: #534C64;

}
.section-left button{
    padding: 15px;
    border-radius: 15px;
    border: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    background: #FF42A5;
    margin-top: 30px;
}
.section-right img{
    width: 611px;
    /* border: 1px solid blue; */
}
/* ##################################### */
.gamer-section{
    display: flex;
    /* border: 1px solid blue; */
    margin: 40px;
}
.gamer-left{
    /* border: 1px solid blue; */
    width: 50%;
}
.gamer-left img{
    width: 650px;
}
.gamer-right{
    padding: 50px;
    text-align: end;
}
.gamer-right h2{
text-align: right;
/* font-family: "Work Sans"; */
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
color: #8758F1;
}
.gamer-right p{
color: #534C64;
text-align: right;
font-family: "Work Sans";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 166.667% */
}
.gamer-btn{;
    padding:20px;
    border-radius: 10px;
    border: transparent;
    background-color: #FF42A5;
    color: #E7E6E9;
    font-weight: 700;
    margin: 20px 0px 15px;
}
/* ############################################ */
.online-games{
    text-align: center;
    /* border: 1px solid blue; */
}
.online-games-img{
    display: flex;
    padding: 80px;
    /* border: 2px solid blue; */
}
.image1 img {
    width: 230px;
    height: 300px;
}
.image2 img {
    width: 230px;
    height: 300px;
}
.image3 img {
    width: 230px;
    height: 300px;
}
.image4 img {
    width: 230px;
    height: 300px;
}
.para-text{
    width: 310px;
    font-size: smaller;
}
/* ##################################### */
.play-section{
    display: flex;
}
.play-instant{
    padding: 170px;
    text-align: end;
    /* border: 1px solid blue; */
}
.play-instant h2{
    font-size: 32px;
    margin-top: 20px;
}
.play-instant p{
    font-size: 16px;
    margin-top: 10px;
}
.play-picture img{
    width: 500px;
    margin: 80px;
}

/* mini section start from here */

.mini-section{
    margin-top: -250px;
    margin-left: 550px;
}
/* ############################## */

.play-section2{
    display: flex;
    margin-top: 50px;
}
.play-instant2{
    padding: 150px;
    margin-bottom: 20px;
}
.play-instant2 p{
    font-size: 14px;
    margin-top: 20px;
    /* margin-top: 10px; */
}
.play-picture2 img{
    width: 500px;
    height: 400px;
    margin: 80px;
}

/* mini section start from here */

.mini-section2{
    margin-top: -230px;
    margin-left: 450px;
}
/* ############################### */
.careers{
    /* border: 2px solid violet; */
    display: flex;
    padding: 80px;
    justify-content: space-evenly;
    background-color: #FF55AE;
}
.careers-left{
    /* margin: 30px; */
    /* border: 1px solid black; */
    padding: 20px;
    
}
.careers-left h1{
    margin-top:40px;
    margin-bottom: 30px;
}
.careers-left p{
    margin-bottom: 30px;
}
.careers-left h4{
    /* margin-bottom: 30px; */
    color: #E7E6E9;
    
}
.careers-left button{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: transparent;

}
.careers-right img{
    width: 500px;
}
/* ########################################3 */
.container {
    display: flex;
    flex-direction: column;
   align-items: center;
}
  
  .row {
    display: flex;
    padding: 60px;
    gap: 130px;
  }
  
  .image {
    width: 50px; 
    height: 50px; 
    background-color: gray; 
    margin: 5px; 
    border-radius: 50px;
    display: flex;
    align-items:center;
  }
  /* ################################################# */
  .footer-main{
    text-align: center;
    /* border: 3px solid black; */
    background-color: #0B0223;
    color: #E7E6E9;
  }
  .footer-first{
    display:flex;
    /* text-align: center; */
    /* border: 1px solid blue; */
    padding: 20px;
    margin-left: 530px;
  }
  .six-items{
    /* border: 2px solid blue; */
    display: flex;
    padding: 30px;
    gap: 30px;
    margin-left: 410px;
    font: 18px;

  }
  .six-icon{
    padding: 20px;
  }
  .six-icon .fa-brands{
    /* border: 2px solid rgb(1, 15, 1); */
    font-size: 28px;
    margin-left: 12px;

  }
  .four-ptag{
    /* border: 2px solid orangered; */
    display: flex;
    padding: 20px;
    gap:30px;
    margin-left: 300px;
  }
.last-p{
    padding: 20px;
    font-size: 12px;
}