@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.nav-bar{
    border: 2px solid blue;
    padding: 10px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
#nav-txt{
    display: inline;
}
.logo-img{
    width: 40px;
}
.nav-menus{
 border: 2px solid red;
 padding: 10px;
 font-size: 15px;
 font-weight: 500;
}
.nav-menus a{
    text-decoration: none;
    margin-left: 20px;
}
#nav-btn{
    background-color: #E7E6E9;
    padding: 5px;
    border-radius: 4px;
    color: red;
}
/* ###################################### */
